<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>

    <link rel="stylesheet" href="styles.css">
    <style>
      body {
        text-align: center;
      }

      #g1 {
        width:400px; height:320px;
        display: inline-block;
        margin: 1em;
      }

      #g2, #g3, #g4 {
        width:100px; height:80px;
        display: inline-block;
        margin: 1em;
      }

      p {
        display: block;
        width: 450px;
        margin: 2em auto;
        text-align: left;
      }
    </style>
</head>

<body>

    <div class="container smaller">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#amount" data-toggle="tab">Numbers</a></li>
            <li><a href="#percent" data-toggle="tab">Percent</a></li>

        </ul>

        <div class="tab-content">
             <div id="amount" class="tab-pane fade">
                 <div id="g1"></div>
                 <div id="g2"></div>
                 <div id="g3"></div>
                 <div id="g4"></div>
             </div>


            <div id="percent" class="tab-pane fade">


            </div>

        </div>
    </div>
    <script src="raphael-2.1.4.min.js"></script>
    <script src="justgage.js"></script>
    <script>
      var g1, g2, g3, g4;

      window.onload = function(){
        var g1 = new JustGage({
          id: "g1",
          value: getRandomInt(0, 100),
          min: 0,
          max: 100,
          title: "Big Fella",
          label: "pounds"
        });

        var g2 = new JustGage({
          id: "g2",
          value: getRandomInt(0, 100),
          min: 0,
          max: 100,
          title: "Small Buddy",
          label: "oz"
        });

        var g3 = new JustGage({
          id: "g3",
          value: getRandomInt(0, 100),
          min: 0,
          max: 100,
          title: "Tiny Lad",
          label: "oz"
        });

        var g4 = new JustGage({
          id: "g4",
          value: getRandomInt(0, 100),
          min: 0,
          max: 100,
          title: "Little Pal",
          label: "oz"
        });

        setInterval(function() {
          g1.refresh(getRandomInt(50, 100));
          g2.refresh(getRandomInt(50, 100));
          g3.refresh(getRandomInt(0, 50));
          g4.refresh(getRandomInt(0, 50));
        }, 2500);
      };
    </script>

</body>

</html>
