<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#home">Leaderboard</a></li>
            <li><a href="#menu1">Team Leaderboard</a></li>

        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <h3>Leaderboard</h3>
                <table>
                    <tr>
                        <th>Rank</th>
                        <th>Användare</th>
                        <th>Tips</th>
                        <th>Poäng</th>
                    </tr>
                    <tr>
                        <td>1.</td>
                        <td> Mats Knutsson</td>
                        <td>200</td>
                        <td>206099</td>
                    </tr>
                    <tr>
                        <td>2.</td>
                        <td>Mats Knutsson</td>
                        <td>200</td>
                        <td>206099</td>
                    </tr>
                    <tr>
                        <td>3.</td>
                        <td>Mats Knutsson</td>
                        <td>200</td>
                        <td>206099</td>
                    </tr>
                    <tr>
                        <td>4.</td>
                        <td>Mats Knutsson</td>
                        <td>200</td>
                        <td>206099</td>
                    </tr>
                    <tr>
                        <td>5.</td>
                        <td>Mats Knutsson</td>
                        <td>200</td>
                        <td>206099</td>
                    </tr>


                </table>
            </div>
            <div id="menu1" class="tab-pane fade">
                <h3>Team Leaderboard</h3>
                <table>
                    <tr>
                        <th>Rank</th>
                        <th>Användare</th>
                        <th>Tips</th>
                        <th>Poäng</th>
                    </tr>
                    <tr>
                        <td>1.</td>
                        <td> Mats Knutsson</td>
                        <td>200</td>
                        <td>206099</td>
                    </tr>
                    <tr>
                        <td>2.</td>
                        <td>Mats Knutsson</td>
                        <td>200</td>
                        <td>206099</td>
                    </tr>
                    <tr>
                        <td>3.</td>
                        <td>Mats Knutsson</td>
                        <td>200</td>
                        <td>206099</td>
                    </tr>
                    <tr>
                        <td>4.</td>
                        <td>Mats Knutsson</td>
                        <td>200</td>
                        <td>206099</td>
                    </tr>
                    <tr>
                        <td>5.</td>
                        <td>Mats Knutsson</td>
                        <td>200</td>
                        <td>206099</td>
                    </tr>


                </table>
            </div>

        </div>
    </div>

    <script>
        $(document).ready(function() {
            $(".nav-tabs a").click(function() {
                $(this).tab('show');
            });
        });
    </script>

</body>

</html>
