.Leaderboard {
  width: 50%;
  height: 400px;
  box-sizing: border-box;
  margin: 20px 0;
  
  th {
    padding: 10px;
    font-size: 18px;
    text-decoration-line: underline;
  }
  
  td {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: start;
  }

  tr:nth-child(even) {
    background-color: $IR-lightgreen;
  }
}

.Leaderboard table {
  width: 100%;
}

.leaderboard-content {
  border-radius: 3px;
  background: $white;
  box-shadow: $main-shadow;
  overflow-y: scroll;
  height: 300px;

  img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 50%;
  }
}

