.chart {
    width: 100%;
    background-color: #fff;
    box-shadow: $main-shadow;
}

.graphView-lineChart {
    width: 50%;
    height: auto;
    padding: 20px;
    background-color: #FFF;
    box-shadow: $main-shadow;
}
