.numberWidget{
    border-radius: 3px;
    text-align: center;
    background: $white;
    box-shadow: $main-shadow;
    display: flex;
    justify-content: space-around;
}

.greenballs{background-color: green; border-radius: 50%}

.grayball{background-color: gray; border-radius: 50%}
