.number-widget{
    border-radius: 3px;
    text-align: center;
    background: $white;
    box-shadow: $main-shadow;
    display: flex;
    justify-content: space-between;
    height: 175px;

    padding: 0 0 10px 0;
}

.number-balls {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation-duration: 2s;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10), 0 2px 4px 0 rgba(0,0,0,0.10);
  transition: background 0.5s ease-in;
}

.greenballs {
  background: #45BCB7;
  animation-name: animateGreen;
  border: 1px solid $main-green;
}

.greenballs:hover {
  background: $main-green;
  transition: background 0.5s ease-in;
}

@keyframes animateGreen {
  0% {background: white; margin-top: -500px;}
  25% {background: white; margin-top: 25px;}
  50% {background: $main-green; margin-top: 0px;}
  100% {background: #45BCB7;}
}

.grayball {
  background-color: $main-accent;
  animation-name: animateGray;
  border: 1px solid $main-accent-shallow;
}

.grayball:hover {
  background: $main-accent-shallow;
  transition: background 0.5s ease-in;
}

@keyframes animateGray {
  0% {background: white; margin-top: -500px;}
  25% {background: white; margin-top: 25px;}
  50% {background: $main-accent-shallow; margin-top: 0px;}
  100% {background: $main-accent;}
}
