progress {
    background-color: #f3f3f3;
    border: 0;
    width: 95%;
    height: 18px;
    box-shadow: $main-shadow;
}

progress::-webkit-progress-bar {
    background-color: #f3f3f3;
}

progress::-webkit-progress-value {
    background-color: $main-green;
    // background-color: -webkit-linear-gradient(to bottom right, #45BCB7 , #007185);
}
