.react-tabs {
  &__tab-list {
    border-bottom: 1px solid #aaa;
    margin: 0;
    padding: 0;
  }

  &__tab {
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
    background-color: rgba(186, 161, 161, 0.3);
    margin-right: 2px;
    border-radius: 5px 5px 0 0;
    transition: all 0.3s;

    &--selected {
      background:#1f9095;
      border-color: #aaa;
      color:  #d5eced;
      border-radius: 5px 5px 0 0;
    }



    &--disabled {
      color: GrayText;
      cursor: default;
    }

    &:focus {
      box-shadow: 0 0 5px hsl(208, 99%, 50%);
      border-color: hsl(208, 99%, 50%);
      outline: none;

      &:after {
        content: "";
        position: absolute;
        height: 5px;
        left: -4px;
        right: -4px;
        bottom: -5px;
        background: #fff;
      }
    }
  }
  &__tab:hover{
      background-color: #1f9095;
      color: #d5eced;
  }

  &__tab-panel {
    display: none;

    &--selected {
      display: block;
    }
  }
}
