.top-three{
    display: flex;
    justify-content: center;
    & div:first-of-type{
        order: 2;
    }
    & div:last-of-type{
        order: 3;
    }
    .user-orbs{

        figure{
            text-align: center;
            img{
                border-radius: 50%;
                width: 100px;
                height: 100px;
                transition: all 0.3s ease-in;
                box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.1), 3px 3px 4px 0 rgba(0, 0, 0, 0.1)
            }

        }
        .position-orb{
            width: 25px !important;
            bottom: 45px !important;
            position:relative!important;
            right: -78px !important;
            background-color: green;
            height: 25px !important;
            border-radius: 50%;
            span{
                color: white;
            }
        }
    }
    .leader{
        transform: translateY(-12.5px);
        .position-orb{
            bottom: 58px !important;
            right: -104px !important;
            background-color: #FFC900;

        }
        figure{


            img{
                width: 125px;
                height: 125px;
                border-radius: 50%;
            }
        }
    }

}

figure img:hover {
  transform: scale(1.2);
  transition: all 0.3s ease-in;
}
