@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

html{
    font-size: 62.5%;
}

body{

    font-family: 'Roboto';
    font-size: $m-size;
    color: $font;
    background: $background;
    /* max-width: 1440px; */
    display: flex;
    align-items: stretch;
    padding: 0;
    margin: 0;
}

#app {
  width: 100%;
}

button {
    cursor: pointer;

}

button:disabled{
    cursor: default;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}


.client-content{
  width: 100%;
    min-height: 100vh;
    transition: all 0.3s;

    padding: 0px 15px;
}

.client-main{
    height: 100%;
}
.wrapper {
    display: flex;
    justify-content: space-around;
    clear: both;
    width: 100%;
    height: 600px;
}

.row{
    margin: 0;
    display: flex;
}

@media(max-width: 1600px){
    .wrapper {
        height: 500px;
    }
}