//Colors
$background: #f7f8f8;
$main-green: rgb(139, 212, 206);
$main-accent: rgb(94, 185, 178);
$main-accent-shallow: #55B581;
$IR-lightgreen: rgb(139, 212, 206);
$font: #424241;
$white: #fff;

//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

//Shadows
$main-shadow: 0 1px 4px 0 rgba(0,0,0,0.10), 0 1px 4px 0 rgba(0,0,0,0.10);
